/* jet brains */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&display=swap');
/*  inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root{
  --main-bg-color: #252422;
  --sec-bg-color: #403D39;
  --solid-bg-color: #EB5E28;
  --cream-bg-color: #CCC5B9;
  --clear-bg-color: #FFFCF2;
  
}

body{
  background-color:var(--main-bg-color);
  font-family:"JetBrains Mono";
  text-align:center;

}

h1{
  margin-top: 15%;
  color:var(--sec-bg-color)

}
.nav{
  color:var(--cream-bg-color);
  list-style:none;
  font-family: 'JetBrains Mono', sans-serif;
  text-align: right;


}
.nav li{
  display: inline;
  width: 249px;
  height: 29px;
  top: 42px;
  padding: 30px;
  margin-right: 10px;
  color:var(--solid-bg-color);
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}

.nav span{
 color:var(--cream-bg-color);
}


.bar{
  text-align: center;
  
}

.bar input[type=text]{  
  background-color:var(--sec-bg-color);
  width: 30%;
  padding: 12px 20px 12px 50px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 8px;
  background-image: url(https://cdn.iconscout.com/icon/free/png-256/search-2524763-2140475.png);
  border:0px;
  background-repeat: no-repeat;
  font-family: "JetBrains Mono";
  color:var(--solid-bg-color);
  background-size: 30px 30px;
  background-position: 10px 5px; 
  
  
}

.bar input[type=text]:focus {
  outline: none;
  
}
a{
  text-decoration: none;
  color:inherit
}


.login, .register{
  width: 30%;
  height: 782px;
  background: #4F4E4C;
  border-radius: 51px;
  margin:auto;
  
}

.login form,.register form{
  text-align: center;
  padding:5%;
  padding-top:30%;

  
}

.login form input,.register form input {
  margin:auto;
  display:inline;
  margin-top: 10% ;
  flex-wrap: wrap;
  

}

.login .user,.register .user{
  background-color:var(--main-bg-color);
  width: 60%;
  padding: 12px 20px 12px 50px;
  box-sizing: border-box;
  border-radius: 8px;
  border:0px;
  font-family: "JetBrains Mono";
  color:var(--clear-bg-color);
  background-size: 30px 30px;
  background-position: 5px 5px; 

  
}

.login  .password, .register .password{
  background-color:var(--solid-bg-color);
  width: 60%;
  padding: 12px 20px 12px 50px;
  box-sizing: border-box;
  border-radius: 8px;
  border:0px;
  font-family: "JetBrains Mono";
  color:var(--clear-bg-color);
  background-size: 30px 30px;
  background-position: 5px 5px; 

}
.password::placeholder, .user::placeholder{color:white}
.login input[type=text]:focus {
  outline: none;
  
}

.loginBtn,.registerBtn{
  width: 211px;
  height: 40px;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "JetBrains Mono";
  border-radius: 10px;
  margin-top: 40px;
  border: 0px;
  
}

.accept label input[type="checkbox"]{
  margin:4%;
    

}

.accept, input[type="checkbox"] + label {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 200;
}

.bar2{
  text-align: center;
  float: right;
  margin:4%;
  
}

.bar2 input[type=text]{  
  background-color:var(--sec-bg-color);
  padding: 12px 20px 12px 50px;
  box-sizing: border-box;
  border-radius: 8px;
  background-image: url(https://cdn.iconscout.com/icon/free/png-256/search-2524763-2140475.png);
  border:0px;
  background-repeat: no-repeat;
  font-family: "JetBrains Mono";
  color:var(--solid-bg-color);
  background-size: 30px 30px;
  background-position: 10px 5px; 
  
  
}

.bar2 input[type=text]:focus {
  outline: none;
  
}


.productContainer{
  display: grid;
  grid-template-columns:1fr;
  margin-top: 10%;

}

.product{
  display:inline-flex;
  margin:2%;
}

.product img{
 grid-template-columns: 1fr ; 
 width: 150px;
 height: 150px ;
 background-color: var(--sec-bg-color);
 
}
.product h2{
  color: var(--solid-bg-color);
  padding-left: 5%;
  font-size: 20px;
  font-weight: 300;
 
}

.product p{
  color:white
}

.bar2 .bar h1{
  display:none;
}

.bar button{
  padding: 12px 20px ;
  text-align: center;
  font-size: 15px;
  background-color: var(--sec-bg-color);
  border-radius: 8px  ;
  margin-left:  2%;
  color: var(--solid-bg-color);
  font-family: 'JetBrains Mono';
  font-weight: 300;
  border:  0px;
  


 }  

 .bar2 {
  padding: 12px 20px 12px 50px;
  margin: 8px 0;
  width: 40%;
}



